# 源代码的修改应由代码评审团队处理
*.java                             @Slimefun/code-reviewers

# 敏感文件的修改应由维护者评审
/.github/                          @Slimefun/slimefun4-maintainers
pom.xml                            @Slimefun/slimefun4-maintainers
CONTRIBUTING.md                    @Slimefun/slimefun4-maintainers

# Issue 模板的变更需要分诊（triage）团队检查
/.github/ISSUE_TEMPLATE/           @Slimefun/bug-testers

# wiki 查询文件由 wiki 团队评审
/src/main/resources/wiki.json      @Slimefun/wiki-staff

# 本文件由 TheBusyBiscuit 管理（管理员本身拥有强制覆盖权限）
/.github/CODEOWNERS                @TheBusyBiscuit
